.content, #footer2, #footer1 {
  border: 2px solid;
  border-top-color: #535353;
  border-left-color: #535353;
  border-bottom-color: #dbdbdb;
  border-right-color: #dbdbdb;
}

button.x, button.maximize, button.minimize, #windowDiv {
  border: 2px solid;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
}

.no-padding, .content {
  padding: 0 !important;
  margin: 0 !important;
}

.toolbar, .activeTitleBar, #footer1, #windowDiv {
  padding: 0px 2px 0px 2px;
}

button.x, button.maximize, button.minimize, #windowDiv {
  background-color: #bfbfbf;
}

#footer2, #footer1 {
  height: 20px;
}

#spriteDiv, #nameDiv {
  min-height: 100px;
}

#iconContainer {
  width: 80px;
  height: 80px;
  padding: auto;
}

#icon {
  background-image: url("images/pokeball.png");
  background-position: center;
  background-size: 100%;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 5%;
}

#windowDiv {
  position: absolute;
  min-width: 60%;
  max-width: 100%;
  box-shadow: 5px 5px 5px 1px grey;
}

#icon {
  background-image: url("images/pokeball.png");
  background-position: center;
  background-size: 100%;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 5%;
}

#windowDivTitleBar {
  cursor: move;
  height: 20px;
  width: 100%;
  padding: 2px;
}

#nameDiv {
  padding-top: 2px;
}

#spriteDiv {
  background-position: center;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  pointer-events: none;
  background-size: 100%;
}

body {
  background-color: darkgrey;
}

input[type=number] {
  margin-top: 2px;
  width: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  position: absolute;
  font-size: 9px;
  padding: 1px;
  height: 16px;
  width: 16px;
  color: #333;
}

button.minimize {
  right: 36px;
}

button.maximize {
  right: 19px;
}

button.x {
  right: 2px;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  padding-right: 2px;
}

h1 {
  margin-top: 5%;
  font-size: 11px;
  text-align: center;
  color: #333;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
}

h3, h4 {
  font-size: 10px;
  line-height: 1.5;
}

.screenEffect {
  background: linear-gradient(#121010 50%, #262626 50%), linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
  background-size: 100% 2px, 3px 100%;
}

.activeTitleBar {
  background-color: #0d0d73;
  font-size: 13px;
  font-weight: bold;
  color: whitesmoke;
}

.toolbar {
  width: 100%;
  height: 20px;
  color: grey;
  text-shadow: 1px 1px #dbdbdb;
  margin: 2px 0px;
}

.white-border {
  border: 2px dashed grey;
}

.white-border-right {
  border-right: 2px dashed grey;
}

.footerText {
  font-size: 13px;
}

.content {
  font-size: 10px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  color: whitesmoke;
  background-color: #262626;
}

.selected {
  background-color: #0d0d73;
  color: whitesmoke;
}

.hidden {
  display: none;
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

/*# sourceMappingURL=main.css.map */
